<?xml version="1.0"?>
<config>
    <modules>
        <SAK_Register>
            <version>0.1.0</version>
        </SAK_Register>
    </modules>
    <frontend>
        <layout>
            <updates>
                <sak_register>
                    <file>sak/register.xml</file>
                </sak_register>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <sak_register>
                <class>SAK_Register_Model</class>
                <resourceModel>sak_register_resource</resourceModel>
            </sak_register>
            <sak_register_resource>
                <class>SAK_Register_Model_Resource</class>
                <entities>
                    <register>
                        <table>sak_register</table>
                    </register>
                    <club>
                        <table>sak_club</table>
                    </club>
                </entities>
            </sak_register_resource>
        </models>
        <resources>
            <sak_register_setup>
                <setup>
                    <module>SAK_Register</module>
                </setup>
            </sak_register_setup>
        </resources>
    </global>
</config>